<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <!--只接受程序中DEBUG级别的日志进行处理-->
            <!-- <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss SSS} [%p] (%F:%L) %c %t %m%n"/>
        </Console>

        <!--处理DEBUG级别的日志，并把该日志放到user-logs/debug.log文件中-->
        <!--打印出DEBUG级别日志，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="RollingFileDebug" fileName="./user-logs/debug.log"
                     filePattern="user-logs/debug-%d{yyyy-MM-dd_HH}.log" immediateFlush="false">
            <Filters>
                <ThresholdFilter level="DEBUG"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss SSS} [%p] (%F:%L) %c %t %m%n"/>
            <Policies>
            	<SizeBasedTriggeringPolicy size="500 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <!--处理INFO级别的日志，并把该日志放到user-logs/info.log文件中-->
        <RollingFile name="RollingFileInfo" fileName="./user-logs/info.log"
                     filePattern="user-logs/info-%d{yyyy-MM-dd_HH}.log" immediateFlush="false">
            <Filters>
                <!--只接受INFO级别的日志，其余的全部拒绝处理-->
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss SSS} [%p] (%F:%L) %c %t %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <!--处理WARN级别的日志，并把该日志放到user-logs/warn.log文件中-->
        <RollingFile name="RollingFileWarn" fileName="./user-logs/warn.log"
                     filePattern="user-logs/warn-%d{yyyy-MM-dd_HH}.log" immediateFlush="false">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss SSS} [%p] (%F:%L) %c %t %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <!--处理error级别的日志，并把该日志放到user-logs/error.log文件中-->
        <RollingFile name="RollingFileError" fileName="./user-logs/error.log"
                     filePattern="user-logs/error-%d{yyyy-MM-dd_HH}.log" immediateFlush="false">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss SSS} [%p] (%F:%L) %c %t %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <!--druid的日志记录追加器-->
        <RollingFile name="druidSqlRollingFile" fileName="./user-logs/druid-sql.log"
                     filePattern="user-logs/druid-sql-%d{yyyy-MM-dd_HH}.log" immediateFlush="false">
            <PatternLayout 
            	pattern="%d{yyyy-MM-dd HH:mm:ss SSS} [%p] (%F:%L) %c %t %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="RollingFileWarn"/>
            <appender-ref ref="RollingFileError"/>
            <appender-ref ref="RollingFileDebug"/>
        </root>

        <!--记录druid-sql的记录-->
        <logger name="druid.sql.Statement" level="debug" additivity="false">
            <appender-ref ref="druidSqlRollingFile"/>
            <appender-ref ref="Console"/>
        </logger>

        <!--log4j2 自带过滤日志-->
        <logger name="springfox.documentation" level="warn"/>
        <logger name="org.springframework" level="warn"/>
        <logger name="org.springframework.jmx" level="warn"/>
        <logger name="org.springframework.boot.actuate.autoconfigure.CrshAutoConfiguration" level="warn"/>
        <logger name="org.springframework.boot.actuate.endpoint.jmx" level="warn"/>
        <logger name="org.hibernate" level="warn"/>
        <logger name="io.netty" level="warn"/>
    </loggers>
</configuration>
